

body {
  color: rgb(49, 58, 59);
  font-family: sans-serif;
  margin: 0;
}

.container {
    width: 60vw;
    margin: 0 auto
}

nav {
  font-size: 24px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 20vw;
}
 
img {
  width: 300px;
  height: 300px;
  border-radius: 15px 50px;
}

.pink {
  color:#742769;
}

.blue {
  color:#467a78;
}

.mission {
  background-color: #29c529;
  color: black;
  text-align: center;
}

.about-us {
  background-color: white;
}

.team {
  background-color: #223c88;
  color: white;
}

.contact {
  background-color: #ff523d;
  color:white;
}


section {
  padding: 3rem 0rem 6rem 0rem;
}

.banner {
  height: 25rem;
  background: #223c88 url('img/banner.jpg') center/cover no-repeat;
}
nav a:hover {
  color: #292929;
  font-weight: #222222;
}

nav a {
  color: black;
  display: inline;
  padding: 0 1rem;
  line-height: 3rem;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 900;
}

h1, h2 {
  font-size: 3rem;
}

h3 {
  margin-bottom: 0;
}

p {
  margin: 0;
  line-height: 150%;
}

.person {
  margin-bottom: 4rem;
  text-align: center;
}

.contact-part {
  margin-bottom: 1rem;
}

.banner h1 {
  width: 18rem;
  padding-bottom: 1rem;
  border-bottom: 4px solid rgb(17, 80, 23);
  color: #223c88; 
}